<article>
  <div class="content">
    <div>
      <strong>{{questionItem.question}}</strong>
    </div>
    <div [ngSwitch]="questionItem.type">
      <div *ngSwitchCase="'radio'">
        <label class="questionInput" *ngFor="let questionItemText of questionItem.questionList">
          <input type="radio" name="'{{match}}'" ngModel required>
          <span class="">{{questionItemText.item}}</span>
        </label>
      </div>
      <div *ngSwitchCase="'checkbox'">
        <label class="questionInput" *ngFor="let questionItemText of questionItem.questionList">
          <input type="checkbox" ngModel required>
          <span>{{questionItemText.item}}</span>
        </label>
      </div>
      <div *ngSwitchCase="'text'">
        <label class="questionInput" *ngFor="let questionItemText of questionItem.questionList">
          <input type="text" name="name" [(ngModel)]="name" required>
          <span>{{questionItemText.item}}</span>
        </label>
      </div>
      <div *ngSwitchCase="'textarea'">
        <label class="questionTextarea" *ngFor="let questionItemText of questionItem.questionList">
          <span>{{questionItemText.item}}</span>
          <textarea name="" ngModel required></textarea>
        </label>
      </div>
    </div>
  </div>
</article>
