<section class="tools flex">
  <div class="tools-content p50">
    <h1>Тестирование</h1>
    <form #myForm="ngForm" novalidate (ngSubmit)="submit(myForm)">
      <strong *ngIf="status">успешно отправлено</strong>
      <input type="text" name="name" ngModel required>
      <article *ngFor="let item of inputJson">
        <div class="content">
          <div>
            <strong>{{item.question}}</strong>
          </div>
          <div [ngSwitch]="item.type">
            <div *ngSwitchCase="'radio'">
              <label class="questionInput" *ngFor="let questionItemText of item.questionList">
                <input  type="radio" value="{{questionItemText.item}}" name="{{item.name}}" ngModel required>
                <span class="">{{questionItemText.item}}</span>
              </label>
            </div>
            <div *ngSwitchCase="'checkbox'">
              <label class="questionInput" *ngFor="let questionItemText of item.questionList">
                <input name="{{questionItemText.name}}" value="{{questionItemText.item}}" type="checkbox"  ngModel required>
                <span>{{questionItemText.item}}</span>
              </label>
            </div>
            <div *ngSwitchCase="'text'">
              <label class="questionInput" *ngFor="let questionItemText of item.questionList">
                <input type="text" name="{{item.name}}"  ngModel required>
                <span>{{questionItemText.item}}</span>
              </label>
            </div>
            <div *ngSwitchCase="'textarea'">
              <label class="questionTextarea" *ngFor="let questionItemText of item.questionList">
                <span>{{questionItemText.item}}</span>
                <textarea  name="{{item.name}}"  ngModel required></textarea>
              </label>
            </div>
          </div>
        </div>
      </article>
      <input type="submit" value="отправить" [disabled]="myForm.invalid">
    </form>
  </div>

  <div class="tools-content p50">
    <h1>график</h1>
    <div class="testLeila">
      <div class="testLeila__nav">
        <a href="">Температура</a>
        <a href="">Осадки</a>
      </div>
      <div class="testLeila__active">
        <div class="filter">
          <form #filForm="ngForm"  (ngSubmit)="formFilter(filForm)">
            <select name="yearOt" id="yearStart" title="От" [(ngModel)]="yearOt">
              <option *ngFor="let item of yearOb" [ngValue]="item">{{item}}</option>
            </select>
            <select name="yearDo" id="yearEnd" title="От" [(ngModel)]="yearDo">
              <option *ngFor="let item of yearOb" [ngValue]="item">{{item}}</option>
            </select>
            <input type="submit" value="start">
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
