<section class="contact">
  <div class="contact__content">
    <h3>Мои контакты</h3>
    <ul>
      <li>
        <strong>Skype</strong>
        <span>krilatii_scorpion</span>
      </li>
      <li>
        <strong>E-mail</strong>
        <span> Grabitel_duh@mail.ru</span>
      </li>
      <li>
        <strong>G-mail</strong>
        <span> grabitel.duh@gmail.com</span>
      </li>
      <li>
        <strong>Отзывы на </strong>
        <span> <a href="https://www.fl.ru/users/krilatii/" target="new">FREELANS</a></span>
      </li>
      <li>
        <strong>Vk</strong>
        <span> <a href="https://vk.com/krilatyi_scorpion">Я в контакте</a></span>
      </li>
      <li>
        <strong>Сотовый телефон</strong>
        <a href="tel:+79225082254">+79225082254</a>
      </li>
    </ul>
  </div>
</section>
