
<article class="edit-portfolio">
  <form  #myForm="ngForm"  (ngSubmit)="submit(myForm)">
    <div></div>
    <figure class="base-style admin-portfolio" *ngFor="let item of info">
      <input type="hidden" id="{{item.id}}" ngModel>
      <div>
        <p>отображение</p>
        <input type="checkbox" name="show" ngModel>
      </div>
      <div>
        <p>Картинка</p>
        <div><img width="100%" height="100%" src='{{item.img}}' alt="{{item.link}}"></div>
      </div>
      <div>
        <p>Движок</p>
        <div>
          <input type="text" placeholder="{{item.engine}}" name="engine" value="{{item.engine}}" ngModel>
        </div>
      </div>
      <div>
        <p>Название</p>
        <div>
          <input type="text" placeholder="{{item.name}}" name="name" value="{{item.name}}" ngModel>
        </div>
      </div>
      <div>
        <p>Описание</p>
        <div>
          <input type="text" placeholder="{{item.description}}" name="description" value="{{item.description}}" ngModel>
        </div>
      </div>
      <div>
        <p>Ссцлка</p>
        <div>
          <input type="text" placeholder="{{item.link}}" name="link" value="{{item.link}}" ngModel>
        </div>
      </div>
    </figure>
    <input type="submit" value="отправить">
  </form>

</article>
