<section class="tools">
  <div class="tools-content">
    <div class="app">
      <h3>Полезные ссылки</h3>
      <ul>
        <li><a href="http://border-radius.com/" target="new"> border-radius</a></li>
        <li><a href="http://www.colorzilla.com/gradient-editor/" target="new">gradient</a></li>
        <li><a href="http://www.cssmatic.com/box-shadow" target="new">box-shadow</a></li>
        <li><a href="http://www.studiopress.com/responsive/" target="new">Тестирование адаптивки</a></li>
        <li><a href="http://www.mskcc.org/sites/all/themes/mskcc_zen/" target="new">em -&gt; px</a></li>
        <li><a href="http://www.responsinator.com/?url=">Тестирование адаптивки2</a></li>
        <li><a href="http://responsivetest.net/">Тестирование адаптивки3</a></li>
        <li><a href="http://pxtoem.com/">Перевод пикселей в проценты</a></li>
      </ul>
      <div>
        <h3>Разработка</h3>

      </div>
      <div class="calculator">
        <div class="calculator__output">
          <input type="text" class="js-im" data-num1="" data-num2="" value="{{numOut}}" placeholder="0" disabled>
        </div>
        <div class="calculator__flex">
          <div class="calculator__column3">
            <div class="calculator__number" (click)="number(1)"><span>1</span></div>
            <div class="calculator__number" (click)="number(2)"><span>2</span></div>
            <div class="calculator__number" (click)="number(3)"><span>3</span></div>
            <div class="calculator__number" (click)="number(4)"><span>4</span></div>
            <div class="calculator__number" (click)="number(5)"><span>5</span></div>
            <div class="calculator__number" (click)="number(6)"><span>6</span></div>
            <div class="calculator__number" (click)="number(7)"><span>7</span></div>
            <div class="calculator__number" (click)="number(8)"><span>8</span></div>
            <div class="calculator__number" (click)="number(9)"><span>9</span></div>
            <div class="calculator__number" (click)="number(0)"><span>0</span></div>
            <div class="calculator__number" (click)="number('.')"><span>.</span></div>
            <div class="calculator__number" (click)="numberDelete()"><span>del</span></div>
            <div class="calculator__number" (click)="numberPlus('+')"><span>+</span></div>
            <div class="calculator__number" (click)="numberMinus('-')"><span>-</span></div>
            <div class="calculator__number" (click)="numberEnter()"><span>=</span></div>
          </div>
          <div style="display: none">
            <div class="calculator__sign"><span>+</span></div>
            <div class="calculator__sign"><span>-</span></div>
            <div class="calculator__sign"><span>=</span></div>
          </div>
        </div>
      </div>
      <br>
      <!--<form  action="#" method="post" [formGroup]="eventForm" (ngSubmit)="onEvent()">-->
        <!--<label for="in1">-->
          <!--<span>инпут 1</span><br>-->
          <!--<input id="in1" type="text" formControlName="input1" required>-->
        <!--</label>-->
        <!--<label for="in2">-->
          <!--<span>инпут 2</span><br>-->
          <!--<input id="in2" type="text" formControlName="input2" required>-->
        <!--</label>-->
        <!--<label for="in3">-->
          <!--<span>инпут 2</span><br>-->
          <!--<input id="in3" type="text" formControlName="input3" required>-->
        <!--</label>-->
        <!--<input type="submit">-->
      <!--</form>-->
      <app-test></app-test>
    </div>

  </div>


</section>
