<section class="tools">
  <div class="tools-content">
    <div class="app">
      <h3>Полезные ссылки</h3>
      <ul>
        <li><a href="http://border-radius.com/" target="new"> border-radius</a></li>
        <li><a href="http://www.colorzilla.com/gradient-editor/" target="new">gradient</a></li>
        <li><a href="http://www.cssmatic.com/box-shadow" target="new">box-shadow</a></li>
        <li><a href="http://www.studiopress.com/responsive/" target="new">Тестирование адаптивки</a></li>
        <li><a href="http://www.mskcc.org/sites/all/themes/mskcc_zen/" target="new">em -&gt; px</a></li>
        <li><a href="http://www.responsinator.com/?url=">Тестирование адаптивки2</a></li>
        <li><a href="http://responsivetest.net/">Тестирование адаптивки3</a></li>
        <li><a href="http://pxtoem.com/">Перевод пикселей в проценты</a></li>
      </ul>
      <div>
        <h3>Разработка</h3>

      </div>



      <br>
      <!--<form  action="#" method="post" [formGroup]="eventForm" (ngSubmit)="onEvent()">-->
        <!--<label for="in1">-->
          <!--<span>инпут 1</span><br>-->
          <!--<input id="in1" type="text" formControlName="input1" required>-->
        <!--</label>-->
        <!--<label for="in2">-->
          <!--<span>инпут 2</span><br>-->
          <!--<input id="in2" type="text" formControlName="input2" required>-->
        <!--</label>-->
        <!--<label for="in3">-->
          <!--<span>инпут 2</span><br>-->
          <!--<input id="in3" type="text" formControlName="input3" required>-->
        <!--</label>-->
        <!--<input type="submit">-->
      <!--</form>-->
    </div>
  </div>

</section>
