<div class="xS-sliderWrapper" id="slide">
  <div class="xS-slider">
    <div class="xS-pageContainer">
      <div class="xS-page slide1"><a href="#"></a></div>
      <div class="xS-page slide2"><a href="#"></a></div>
      <div class="xS-page slide3"><a href="#"></a></div>
      <div class="xS-page slide4"><a href="#"></a></div>
      <div class="xS-page slide5"><a href="#"></a></div>
      <div class="xS-page slide6"><a href="#"></a></div>
    </div>
  </div>
  <div class="xS-button"></div>
</div>

