<section class="content">
  <div class="content__wrapper flex">
    <aside>
      <div class="outdoor-unit">
        <div class="client indoor-unit">
          <h3>Живые примеры</h3>
          <div>
            <a href="https://zhazhda.biz/franchises">
              <strong>Журнал жажда бизнеса</strong>
            </a>
          </div>
          <div>
            <a href="http://www.las.ru/">
              <strong>Магазин офисной мебели </strong>
            </a>
          </div>
          <div>
            <a href="http://normaexpert.ru/land1/">
              <strong>Агентство по энергосбережению УР</strong>
            </a>
          </div>
        </div>
      </div>
    </aside>
    <div class="offert">
      <h1>Качественный сайт, современный и адаптивный.</h1>
      <p>
        Это то что нужно каждой фирме и организаций. <br/>
        У меня вы можете заказать как <span class="title">статический</span> сайт с поддержкой всех современных и старых браузеров <br/>
        Так и <span class="title">адаптивный</span>. Такой сайт будет иметь максимальную поддержку мобильных устройств. <br/>
        <strong>А теперь более подробно о том что вы можете заказать и какой получите результат</strong>
      </p>
      <ol>
        <li><h3>Чистовая вёрстка(вёрстка с нуля)</h3></li>
        <li>Индивидуальный подход к каждому проекту, написание кода по <strong>методологий БЭМ</strong>.</li>
        <li>Сss будут написанные с применением препроцессора <strong>Less</strong>.</li>
        <li>Плотное применение <strong>CSS3</strong> для минимизаций картинок и применение <strong>спрайтов</strong> для оптимизаций загрузки графики</li>
        <li>Слайдеры, табы и другой скриптовый функционал. Применяются наиболее надёжные плагины либо пишется индивидуально,
          не выполнимых задачь для меня нет</li>
        <li>Установка на сайт более сложный функционал.</li>
        <li>Установка форм обратной связи различной сложности и красивое оформление письма. </li>
        <li>Доработка дизайна в процессе верстки (По вашему желанию)</li>
      </ol>
      <ol>
        <li><h3>Вёрстка на рабочем сайте</h3></li>
        <li>Редактирование рабочего сайта</li>
        <li>Адаптация статического сайта</li>
        <li>Исправление ошибок и общая оптимизация сайта</li>
      </ol>
    </div>
  </div>
  <div class="reviews outdoor-unit reviews_bg-light">
    <div class="indoor-unit">
      <h3>Отзывы моих клиентов.</h3>
      <article class="reviews__item">
        <strong>Алексей Epsilon</strong>
        <p>
          <span>за выполнение проекта Сверстать 3 страницы</span>
          <span>Великолепное исполнение! Работа выполнена в срок, все требования выполнены на "ура". Рассчитываю на сотрудничество в будущем.</span>
        </p>
        <a href="https://www.fl.ru/users/krilatii/opinions/?sort=1period=author=0#op_head" target="new">Ссылка на отзыв</a>
        <div class="clearFix"></div>
      </article>
      <article class="reviews__item">
        <strong>Максим Шульгин</strong>
        <p>
          <span>за выполнение проекта Верстка. Bootstrap</span>
          <span>Отличная адаптивная верстка. Рекомендуем.</span>
        </p>
        <a href="https://www.fl.ru/users/krilatii/opinions/?sort=1period=author=0#op_head" target="new">Ссылка на отзыв</a>
        <div class="clearFix"></div>
      </article>
      <article class="reviews__item">
        <strong>Stanislav Novokhatko</strong>
        <p>
          <span> «Верстка макета дизайна сайта 2 страницы»</span>
          <span>Отлично выполненная работа верстки в срок. Рекомендую.</span>
        </p>
        <a href="https://www.fl.ru/users/krilatii/opinions/?sort=1period=author=0#op_head" target="new">Ссылка на отзыв</a>
        <div class="clearFix"></div>
      </article>
    </div>
  </div>
</section>

