@import "../base/variable.scss";

.text-content{
  strong{
    display: inline-block;
    padding-top: 10px;
  }
}
.portfolio-page{

}
.content{
  width: 100%;
  max-width: 1096px;
  margin:20px auto 0;
  padding: 10px;
  position: relative;
  border: solid 1px #ffffff;
  &:before{
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    border-top: solid 10px #ffffff;
    border-bottom: solid 10px #ffffff;
    border-right: solid 10px #c2c2c2;
    border-left: solid 10px #c2c2c2;
    box-sizing: border-box;
    opacity: 0.7;
  }
  &__wrapper{
    border: solid 1px #878787;
    position: relative;
    background: #eeeeee;
    z-index: 2;
    display: block;

    @media (min-width: $table){
      flex-direction: row-reverse;
      display: flex;
    }
  }
}


.offert{

  padding: 20px;
  @media (min-width: $table){
    width: 70%;
  }
  ul{
    li{
      padding: 5px 0;
    }
  }
  p{
    line-height: 20px;
    padding: 10px 0;
  }
  strong{
    font-size: 17px;
  }
}

.reviews{
  .indoor-unit{
    background: #e4e4e4;
  }
  h3{
    padding-bottom: 30px;
  }
}

.reviews-item{
  background: #ffffff;
  margin: 0 0 40px;
  padding: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 0px 10px 0px 0px rgba(214,214,214,1);
  -moz-box-shadow: 0px 10px 0px 0px rgba(214,214,214,1);
  box-shadow: 0px 10px 0px 0px rgba(214,214,214,1);
  border: solid 5px #555555;
  border-bottom: none;
  border-top: solid 5px #d6d6d6;
  @media (min-width: $table){
    margin: 0 20px 40px;
  }
  strong{
    display: block;
    font-size: 18px;
    padding: 0 0 5px 0;
  }
  p{
    padding: 0 0 15px;
    span{
      display: block;
      font-size: 16px;
    }
  }
  a{
    float: right;
    color: #006cff;
    font-size: 16px;
    text-decoration: underline;
  }

}

.aside{
  @media (min-width: $table){
    width: 30%;
  }
}


.client{
  border: solid 1px #ffffff;
  position: relative;
  z-index: 3;
  padding: 15px;
  h3{
    padding: 10px 0 20px 0;
    text-align: center;
  }
  div{
    padding: 0 0 25px 0;
  }
  a{
    text-decoration: none;
    clear: both;
    display: block;
    *{font-size: 16px;}
  }
}
.float{
  img{
    float: left;
    width: 30%;
    margin: 0;
  }
  strong{
    float: left;
    width: 70%;
    padding: 0 0 0 10px;
    box-sizing: border-box;
  }
}



